<div class="wrapper fadeInDown">
  <div id="formContent">
    <form [formGroup]="loginForm">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="username">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password">
      <div *ngIf="isShowMessage"  class="alert alert-danger" role="alert">
        {{message}}
      </div>
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()">
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a><br/>
      <a class="underlineHover" [routerLink]="'/register'">Register</a>
    </div>

  </div>
</div>
